[tool.poetry]
name = "metablock"
version = "0.5.3"
description = "Metablock cloud python client"
authors = ["Luca <luca@quantmind.com>"]
license = "BSD"
readme = "readme.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
aiohttp = "^3.8.3"

[tool.poetry.group.dev.dependencies]
pytest-asyncio = "^0.21.0"
pytest = "^7.0.1"
pytest-cov = "^4.0.0"
mypy = "^1.3.0"
black = "^23.3.0"
isort = "^5.11.3"
flake8 = "^6.0.0"
flake8-builtins = "^2.0.1"
python-dotenv = "^1.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
