# linters
black
isort
flake8
flake8-blind-except
flake8-builtins
flake8-commas

# coverage
codecov
coverage
coveralls

# test
pytest
pytest-cov
pytest-aiohttp
pytest-mock
asynctest

# mypy & stubs
mypy

# deploy
twine
agile-toolkit

python-dotenv
